* {
    /* border: 0.001rem solid blue; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.bgUnicas {
    background: #DF1068;
}

.img {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-padding {
    padding: 100px 0;
}
.section-header {
    display: flex;
    justify-items: center !important;
    align-items: center !important;
    flex-direction: column;
    /* border: 0.01rem solid blue; */
}

.displayTopo {
    display: none;
}

.displayNav {
    background: #DF1068 !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    transition: all ease 1s;
}

.displayNav a {
    color: #fff !important;
}

.logo-rosa {
    /* background-image: url(../images/lg/logo_claro/logo-rosa-jpeg.jpg); */
    background-image: url(../images/lg/logo_escuro/logo-jpeg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

.logo-transparente {
    background-image: url(../images/lg/logo_claro/logo-transp.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    width: 80px;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 120px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px !important;
    font-family: merienda;
    color: #fff;
    display: block;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
    margin: 30px auto;
    color: #fff;
}

.carousel-caption span {
    display: block;
    margin: 20px auto;
}

.carousel-caption button {
    color: #fff;
    border-radius: 30px;
    border: 2px solid #fff;
    padding: 10px 50px;
    font-weight: bold;
}


.carousel-caption > button > i {
    margin-right: 10px;
}

.carousel-caption a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.navbar-icon {
    margin-left: 20%;
}

.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show, .navbar-light  .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff !important;
}

.w-100 {
    height: 100vh;
}

@media only screen and (max-width: 767px) {
    .navbar-nav.ml-auto {
        background-color: rgb(0, 0, 0, 0.9);
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff; 
    }
    .navbar-light .navbar-brand {
        font-size: 15px;
    }
    li.nav-item.active > a.nav-link {
        color: #fff !important;
    }
}


/* ABOUT */
/* .about-area {
    width: 100vw;
} */
.about-img img {
    width: 100%;
}
.item-text {
    padding-left: 15px;
}
.about-img {
    padding-right: 15px;
}
.item-text h4 {
    margin-bottom: 30px;
}

/* BANNER */
/* 1 */

.divulgacao {
    /* background-attachment: fixed; */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    /* position: relative; */
    z-index: 1;
    height: 100%;
    /* width: 100%; */
}


.banner {
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,#000,transparent);
    z-index: 1;
}

.banner_folder {
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    /* width: 100% !important; */
    /* height: auto !important; */
    /* display: block; */
}
.banner_folder:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: linear-gradient(180deg,#000,transparent); */
    z-index: 1;
}


/* STATS */

.stats-area {
    /* background-image: url(../images/about.jpg); */
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
.stats-area:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #000, transparent);
    z-index: -1;
}
.single-stats {
    color: #fff;
    text-align: center;
}
.single-stats i {
    margin-bottom: 20px;
}
.single-stats h2 {
    font-size: 50px;
    font-weight: bold;
}
.single-stats p {
    font-family: 'Audiowide', cursive;
}


/* SERVICES */

.services-area {
    text-align: center;
}
.single-service {
    border: 1px solid #ddd;
    padding: 30px 20px;
    margin-bottom: 15px;
}
.single-service h2 {
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.single-service:hover {
    background: #262626;
    color: #fff;
    transition: .6s;
}

.single-service-inverse {
    border: 1px solid #ddd;
    padding: 30px 20px;
    margin-bottom: 15px;
    color: #fff;
    background: #DF1068;
}
.single-service-inverse h2 {
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.single-service-inverse:hover {
    background: #262626;
    color: #fff;
    transition: .6s;
}

/* AWARD  #262626 */

.award-area {
    position: relative;
    /* background-image: url(../images/about.jpg); */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    text-align: center;
}
.award-area:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,#000,transparent);
    z-index: -1;
}
.single-award h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Audiowide', cursive;
}
.single-award > a{
    text-decoration: none;
    display: inline-block;
    background: #DF1068;
    color: #fff !important;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 50px;
    text-transform: uppercase;
}

/* PORTFOLIO */

.single-work img {
    width: 100%;
}
.single-work {
    margin-bottom: 30px;
}
.portfolio-area .section-padding {
    margin-bottom: 30px;
}

/* TESTIMONIAL */
.testimonial-area {
    background-image: url(../images/lg/woman-in-car-passenger-3.jpg);
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.testimonial-area:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    z-index: -1;
}
.img-area {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
.img-area img {
    width: 100%;
}
.single-testi {
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 40px;
}
.testimonial-area .section-header {
    color: #fff;
}
.single-testi {
    height: 100%;
}
.single-testi h2 {
    font-family: 'Audiowide', cursive;
    margin: 15px 0;
    font-size: 25px;
}

/* CONTACT */
.contact-area h2, .contact-area p {
    text-align: center;
}
.btnUnicas {
    background: #DF1068;
    padding: 10px 40px;
    border-radius: 30px;
    color: #ddd;
    font-weight: bold;
}
/* FOOTER */

.footer-area {
    color: #fff;
    background: #DF1068;
    padding: 30px 0;
    text-align: center;
}



/* 
    Responsive
*/

/* tamanho: lg */
@media only screen and (min-width: 992px) and (max-width: 5000px){
    .divulgacao1 {
        background-image: url(../images/lg/divulgacao_001.jpeg);
        max-width: 800px;
    }
    .divulgacao2 {
        background-image: url(../images/lg/divulgacao_002.jpeg);
        max-width: 800px;
    }
    .divulgacao3 {
        background-image: url(../images/lg/divulgacao_003.jpeg);
        max-width: 800px;
    }
    .divulgacao4 {
        background-image: url(../images/lg/divulgacao_004.jpeg);
        max-width: 800px;
    }
    .divulgacao5 {
        background-image: url(../images/lg/divulgacao_005.jpeg);
        max-width: 800px;
    }
    .banner1 {
        background-image: url(../images/lg/banner_01.jpg);
        height: 100%;
    }
    .banner2 {
        background-image: url(../images/lg/banner_2.jpg);
    }
    .banner3 {
        background-image: url(../images/lg/banner_3.jpg);
    }
    .stats-area {
        background-image: url(../images/lg/quem-somos.jpg);
    }
    .quemSomosImg {
        background-image: url(../images/lg/quem-somos.jpg);
        min-height: 300px;
    }
    .award-area {
        background-image: url(../images/lg/about.jpg);
    }
    .testimonial-area {
        background-image: url(../images/lg/woman-in-car-passenger-3.jpg);
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .banner1 {
        background-image: url(../images/md/banner_1.jpg);
    }
    .banner2 {
        background-image: url(../images/md/banner_2.jpg);
    }
    .banner3 {
        background-image: url(../images/md/banner_3.jpg);
    }
    .stats-area {
        background-image: url(../images/md/quem-somos.jpg);
    }
    .quemSomosImg {
        background-image: url(../images/md/quem-somos.jpg);
        min-height: 200px;
    }
    .award-area {
        background-image: url(../images/md/about.jpg);
    }
    .testimonial-area {
        background-image: url(../images/md/woman-in-car-passenger-3.jpg);
    }


    .section-header h2 {
        font-size: 35px;
        font-weight: bold;

    }
    .navbar-toggler-icon i.fa {
        color: #fff;
    }
    .slider-text {
        padding-top: 70%;
    }
    .about-img {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .item-text {
        padding-left: 0;
    }

    .single-stats h2 {
        font-size: 30px;
    }
    .single-stats p {
        font-size: 14px;
    }
    .single-testi {
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 767px) {
    .divulgacao1 {
        background-image: url(../images/sm/divulgacao_001.jpeg);
        height: 400px;
        width: 100%;
    }
    .divulgacao2 {
        background-image: url(../images/sm/divulgacao_002.jpeg);
    }
    .banner1 {
        background-image: url(../images/sm/banner_1.jpg);
        width: 500px !important;
    }
    .banner2 {
        background-image: url(../images/sm/banner_2.jpg);
    }
    .banner3 {
        background-image: url(../images/sm/banner_3.jpg);
    }
    .quemSomosImg {
        background-image: url(../images/sm/quem-somos.jpg);
        min-height: 200px;
    }
    .stats-area {
        background-image: url(../images/sm/about.jpg);
    }
    

    .section-padding {
        padding: 50px 0;
    }
    .section-header h2 {
        font-size: 22px;
        font-weight: bold;
    }
    .navbar-toggler-icon i.fa {
        color: #fff;
    }
    .slider-text h1 {
        font-size: 22px;
    }
    .slider-text {
        padding-top: 65%;
    }
    .slider-text h2 {
        font-size: 20px;
    }
    .slider-text a {
        padding: 5px 10px;
        font-size: 14px;
    }

    .item-text {
        margin-top: 30px;
        padding-left: 0;
    }
    .item-text h4 {
        margin-bottom: 30px;
        font-size: 20px;
    }
    .about-img {
        padding-right: 0;
    }
    .single-stats h2 {
        font-size: 30px;
    }
    .single-award h2 {
        font-size: 18px;
        line-height: 35px;
    }
    .single-award a {
        padding: 5px 15px;
        font-size: 14px;
    }
    .single-testi {
        padding: 15px 10px;
        margin-bottom: 15px;
    }
    .single-testi-item {
        padding: 10px 15px;
    }

    .banner-caption h5 {
        font-size: 20px;
    }
    .banner-caption p, .banner-caption span {
        font-size: 15px;
    }
    .banner-caption button {
        font-size: 14px;
        width: 100%;
    }

    .carousel-caption p {
        width: 100%;
    }
    
}

